html {
  font-family: "Geologica", sans-serif;
}

.input {
  border: black solid;
  outline: none;
  width: 350px;
  height: 30px;
  border-radius: 15px;
  margin-left: 17px;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.signupform {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 550px;
  background-color: #d3221c;
  margin-left: 500px;
  margin-top: 50px;
  border-radius: 30px;
}

.signupform h1 {
  font-size: 38px;
  margin-top: 35px;
  margin-left: 35px;
}

.name {
  margin-top: 50px;
}

.header3 {
  margin-left: 15px;
}

.alert {
  margin-left: 25px;
  color: rgb(0, 55, 255);
  position: absolute;
  z-index: 3;
  margin-top: 2px;
}

.onpass {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 20px;
}

label {
  width: 200px;
  margin-right: 200px;
}

.btn {
  width: 100px;
  height: 45px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: "Geologica", sans-serif;
  font-weight: bolder;
  margin-left: 280px;
  margin-top: 30px;
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.haveacc {
  margin-top: 7px;
  text-align: center;
}

.btn:hover {
  background-color: #7a7a7a;
}
